extend layoutUser.pug

block content
  .container-fluid
    div#myCarousel.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li.active(data-target="#myCarousel", data-slide-to="0")
        li(data-target="#myCarousel", data-slide-to="1")
        li(data-target="#myCarousel", data-slide-to="2")
      div.carousel-inner(role="listbox")
        div.item.active
          img(src="img/chef1.jpg" alt="")
          div.carousel-caption
            h2 DC Cafe
            p 
              | The DC Cafe is a division of the Bethania Group
        div.item
          img(src="img/chef2.jpg" alt="")
          div.carousel-caption
            h2 DC Cafe Food
            p 
              | We offer home cooked meals are healthy and nutritious and are approved by registered Dietician.
        div.item
          img(src="img/chef3.jpg" alt="")
          div.carousel-caption
            h2 DC Cafe Atmosphere
            p We strive to create an atmosphere of wellness and promote indepence, a congregate meals allow tenants to socialize with each other.
                          
        a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
          span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
          span.sr-only Previous
        a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
          span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
          span.sr-only Next
 
