extend layoutUser.pug

block content
  .container-fluid
    div#myCarousel.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li.active(data-target="#myCarousel", data-slide-to="0")
        li(data-target="#myCarousel", data-slide-to="1")
        li(data-target="#myCarousel", data-slide-to="2")
      div.carousel-inner(role="listbox")
        div.item.active
          img(src="img/chef1.jpg" alt="")
          div.carousel-caption
            h2 DC Cafe
            p 
              | is located within the 285 Pembina complex under management contract with Manitoba Housing and Family Services since April 1, 2002.      
        div.item
          img(src="img/chef2.jpg" alt="")
          div.carousel-caption
            h2 DC Cafe Food
            p 
              | Food services are provide to the 57 residents of Pembina Place Mennonite Personal Care Home.
        div.item
          img(src="img/chef3.jpg" alt="")
          div.carousel-caption
            h2 DC Cafe Atmosphere
            p Apart from the food services, DC Cafe has become popular as a venue for social activity and interaction.  Where tenants, friends and families enjoy visiting over a cup of coffee or a good meal.
                          
        a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
          span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
          span.sr-only Previous
        a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
          span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
          span.sr-only Next
 
