doctype html
html(lang='en')
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="veiwport", content="width=device-width", intial-scale="1")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="https://kit.fontawesome.com/32d7331a14.js", crossorigin="anonymous")
    
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
     .container-fluid 
        .navbar-header 
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") DC cafe 
        .collapse.navbar-collapse#myNavbar 
            ul.nav.navbar-nav 
                li
                    a(href="/") Home
                li 
                    a(href="/about") About Us
                li 
                    a(href="/menu") Menu 
                li 
                    a(href="/shop/order") Order Online 
            if(login)
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="users/profile") Profile
                    li 
                        a(href="/users/logout") LogOut
                         span.glyphicon.glyphicon-user 
                    li
                        a(href="/shop/foodtray") Food Tray
                         span.glyphicon.glyphicon-shopping-cart 
                         if session.cart
                            span.badge=session.cart.totalQty
            else
                ul.nav.navbar-nav.navbar-right
                    li 
                        a(href="/users/signup") Sign Up
                         span.glyphicon.glyphicon-user 
                    li 
                        a(href="/users/login") Login
                         span.glyphicon.glyphicon-log-in 
                    li
                        a(href="/shop/foodtray") Food Tray
                         span.glyphicon.glyphicon-shopping-cart 
                         if session.cart
                            span.badge=session.cart.totalQty

    .container-fluid
     .jumbotron 
        h1 Hours of Operation 
        p Monday to Sunday: 10:00 am to 6:00pm
        
    section.main-container
    block content

    footer.container
        div.row
            div.col-sm-4
                h3 Location
                p DC Cafe 
                p 825 Pembina Highway
                p Winnipeg, MB 

                h3 Phone: 
                p (204) - 000-0000
                p (204) - 000-0000
            div.col-sm-4
                h3 Hours of Operation
                p Monday 10am - 6pm
                p Tuesday 10am - 6pm
                p Wednesday 10am - 6pm
                p Thursday 10am - 6pm
                p Friday 10am - 6pm
                p Saturday 10am - 6pm
                p Sunday 10am - 6pm
            div.col-sm-4
                h3 Follow us on:
                ul.list-unstyled
                    li
                     a(href="#") 
                       i.fab.fa-facebook(style='font-size:36px')
                    li
                     a(href="#") 
                       i.fab.fa-instagram(style='font-size:36px')
                    li
                     a(href="#") 
                       i.fab.fa-twitter-square(style='font-size:36px')
                h3 Feedback
                ul.list-unstyled
                    li
                     a(href="/feedback") 
                       i.fas.fa-comment-dots(style='font-size:36px')

    script(src="js/scripts.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")